.color-1 {
    background-color: rgb(232, 138, 155);
}
.color-2 {
    background-color: rgb(119, 190, 232);
}
.color-3 {
    background-color: rgb(113, 181, 169);
}
.color-4 {
    background-color: #C76D9B;
}
.color-5 {
    background-color: #B091CB;
}
.color-6 {
    background-color: #8798D9;
}
.color-7 {
    background-color: #7FBDDF;
}
.color-8 {
    background-color: #7EC0B5;
}
.color-9 {
    background-color: #EB8FA6;
}
.color-10 {
    background-color: #A27DB2;
}
.color-11 {
    background-color: #7689C7;
}
.color-12 {
    background-color: #B86296;
}
.cube {
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.column > p {
    /* margin: 10rem; */
}
header {
    margin-top: 5rem;
}
figure {
    display: flex;
    height: 2rem;
    margin-bottom: 3rem !important;
    align-items: center;
}
figure > img {
    height: 2rem;
    margin-right: 1rem;
}
figure > figcaption {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 1rem;
}
header h1 {
    font-weight: bold;
}
footer h2 {
    font-weight: bold;
}
main {
    margin-bottom: 3rem;
}
footer {
    margin-bottom: 4rem;
}
.follow-us {
    margin-top: 2rem;
}